body{
   background-image: url("https://cloud.githubusercontent.com/assets/10101180/7221472/1a2520fa-e6a1-11e4-9099-e3ac1e4f8472.png");
    background-repeat: repeat;
   width: 900px;
}
.game_results{
  margin: 30px auto;
  text-align: center;
}
h1{
  text-align: center;
}
button{
  text-align: center;
  margin: 0 auto;
  display: block;
}

h2{
  text-align: center;
}
#menu {
  text-align: center;
}
.centering{
  text-align: center;
}

#text{
  text-align: center;
}

.center{
  text-align: center;
  margin: 0 auto;
  display: block;
  clear: both;
}
.overlayColor{
   clear: both;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  height: 100%;
  font-family: 'Open Sans', sans-serif  ;
}
