.game_results{
  margin: 5px auto;
}
h1{
  text-align: center;
}
button{
  text-align: center;
  margin: 0 auto;
  display: block;
}

h2{
  text-align: center;
}
#menu {
  text-align: center;
}
.centering{
  text-align: center;
}

